.ConsS{
  display: inline;
  height: 20em;
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

nav div{
  display: inline-block;
}
span{
  display: block;
  text-align: center;
}
.label{
  margin-left: 5%;
}

.ConsC{
  float: right;
  margin-right: 5%;
}

.about_main{
  text-align: center;
}
